<header>
    <nav class="nav-wrapper teal darken-4">
       <div class="container">
            <a href="inscription" class="name-logo brand-logo hide-on-med-and-down">
                <img src="../static/image/academylogo.png" alt="avatar" class="logo-nav-vertical responsive-img">      
            </a>
            
           
            <ul id="dropdown1" class="dropdown-content">    
              
                  <li><option class="center" value="" disabled selected>Choisir une option</option>   </li>         
                   <li><a href="login"> Déconnexion</a></li> 
           </ul>

            <ul class="right hide-on-med-and-down">                
               <li class="image-avatar">
                   <img src="../static/image/yuna.jpg" alt="avatar" class="circle responsive-img">
               </li>
               <li><a class="dropdown-button" id ="dropdowner" href="#!" data-target="dropdown1">Astou Ndiaye<em class="material-icons right">arrow_drop_down</em></a></li>
            </ul>
            
       
       <div>  
    </nav>               
 </header>