<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title Page-->
    <title>Inscription </title>

    <!-- Icons font CSS-->
    <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link rel="stylesheet" href="../static/jquery-ui/jquery-ui.css">
    <link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../static/css/main.css" rel="stylesheet" media="all">
   
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Etudiant</h2>
                </div>
                <div class="card-body">
                    <form action="" method="POST" class="formulaire">
                        <div class="form-row m-b-55">
                            <!--choix nouveau - ancien-->
                                <div class="form-row p-t-20">
                                        <label class="label label--block">Selectionnez votre statut</label>
                                        <div class="p-t-15">
                                            <label class="radio-container m-r-55">Nouveau
                                                <input type="radio" name="etat" id="nouveau" checked="checked"  value="nouveau" >
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">Ancien
                                                <input type="radio" name="etat" id="ancien" value="value2" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                </div>
                                <!--choix nouveau - ancien-->
                            <!--matricule-->
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                            
                                        <div class="input-group-desc">
                                                <input class="input--style-5" id="mat" type="text" name="matricule" readonly="true" value="{{gen_mat}}">
                                                <label class="label--desc">matricule</label>
                                        </div>
                                        <div style="margin-top:25px;" >
                                                <a  class="btn btn-primary" id="boutsearch" style="display: none;background:#328f8e; border: #328f8e; width: 35px;height: 35px;">
                                                   <em class="search icon" style="padding-top:3px;margin: 0 auto;color: white"> </em>
                                                </a>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                                <input type="text" name="prenom" id ="prenom" placeholder="Prénom" required class="input--style-5">
                                                <label class="label--desc">Prénom</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--matricule-->
                        </div>
                        <!--Nom / Prénom-->
                        <div class="form-row m-b-55">
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" id="nom" type="text" name="nom" required class="input--style-5">
                                            <label class="label--desc">Nom</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" id="email" type="email" name="email" required class="input--style-5">
                                            <label class="label--desc">Email</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Nom / Prénom-->
                        <!--Adress / Date Naissance-->
                        <div class="form-row m-b-55">
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" id="adresse" type="text" name="adresse" required class="input--style-5">
                                            <label class="label--desc">Adresse</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" id="date_naiss" type="date" name="date_naiss" required class="input--style-5">
                                            <label class="label--desc">Date Naissance</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Adress / Date Naissance-->
                        <!------------------------------------------------------------------------------>
                        <!--Formulaire inscription-->
                        <div class="card-heading">
                            <h2 class="title">Inscription</h2>
                        </div>
                         <div class="form-row">
                             <!--Filiere-->
                                <div class="name">Filiére</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select name="filiere" id="filiere" required>
                                                    <option value="">Choisir filière</option>
                                                    {% for val in filieres %}
                                                       <option value="{{ val[0] }}">{{ val[1] }}</option>
                                                    {% endfor %} 
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--Filiere-->
                                <br><br><br><br><br><br>
                                <!--Classe-->
                                <div class="name">Classe</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select name="classe" id="classe" required>
                                                    <option value="">Choisir classe</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--Classe-->
                        </div>
                         <!--Montant inscription-->
                        <div class="form-row m-b-55">
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="montant_ins" id="montant_ins" readonly="true" required>
                                            <label class="label--desc">Montant inscription</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="mensualite" id="mensualite" readonly="true">
                                            <label class="label--desc">Mensualité</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Montant inscription-->
                        <!--Total inscription  / Date inscription-->
                        <div class="form-row m-b-55">
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="total_ins" id="total_ins" readonly="true">
                                            <label class="label--desc">Total inscription</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="date" name="date_ins" id="date_ins" readonly="true" value="{{date_ins}}">
                                            <label class="label--desc"> Date d'inscription</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Total inscription / Date inscription-->
                        <!--Année academique-->
                        <div class="form-row m-b-55">
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="annee_accad" id="annee_acad" readonly="true" value="{{annee_accad}}">
                                            <label class="label--desc">Année academique</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------------------------->
                        <!--Formulaire inscription-->
                        <div class="two fields">
                            <div>
                                <button class="btn btn--radius-2 btn--red" type="submit" id="boutonenvoi" name="boutonenvoi" value="ajout_app" >Enregistrer</button>
                            </div>
                        </div>
                    </form>
                    <div id="response"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/jquery-ui/jquery-ui.js"></script>
    <script src="../static/js/myjsfile.js"></script>
    <!-- Vendor JS-->
    <script src="../static/vendor/select2/select2.min.js"></script>
    <script src="../static/vendor/datepicker/moment.min.js"></script>
    <script src="../static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="../static/js/global.js"></script>

</body>

</html>
<!-- end document-->